#networkLayoutForm {
    padding: 10px; 
}

.formDiv {
    padding: 5px;
}

.resultFieldset {
    /* display: flex; */
    background-color: #eefafc;
} 

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

fieldset{
    width: 45%;
}