#networkLayoutForm {
    padding: 10px; 
}

.formDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
}

.formLabel {
    margin-bottom: 5px;
}

body, input, form, select, option, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.backgroundImageClass {
    position: relative;
   }

.backgroundImageClass::after {
    content: "";
    background-image: url("/Background Image/IMG_5249.jpg");
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -1;   
   }

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputFieldset {
    padding: 20px;
    background-color: #ffffff95;
    border-radius: 20px;
    margin: 10px;
    /* flex-basis: 500px;
    flex-grow: 1; */
    /* width: 40vw; */
    flex: 1 1 350px;
    /* min-width: 500px; */
    border-style: hidden;
    /* z-index: 1; */
 }

.resultFieldset{
    padding: 20px;
    background-color: #a2ddff95;
    border-radius: 20px;
    margin: 10px;
    /* width: 40vw; */
    flex: 1 1 350px;
    /* flex-basis: 500px;
    flex-grow: 1; */
    /* min-width: 500px; */
    border-style: hidden;
} 

/* @media (max-width=500px) {
.inputFieldset {
    padding: 20px;
    background-color: #ffffff95;
    border-radius: 20px;
    width: 100%;
    border-style: hidden;
 }

.resultFieldset{
    padding: 20px;
    background-color: #a2ddff95;
    border-radius: 20px;
    width: 100%;
    border-style: hidden;
} 
} */

.flexCol {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
}


.flexRow {
    /* padding: 10px; */
    display: flex;
    /* flex-direction: row; */
    /* width: 100vw; */
    flex-flow: wrap;
}


legend {
    font-weight: 700;
    padding-bottom: 5px;
    float: left;
    
}